/* Class selector to style the heading */
.intro{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    text-align: center;
}

/* Class selector for the background color setting */
.over{
    background-color: rgb(184, 174, 174);
}

/* Class selector for the alignment of buttons in the screen */
.first{
    margin-left: 33.5%;
    margin-right: 25%; 
}

/* Class selector for the alignment of popup window */
.second{
    margin-left: 28%;
    margin-right: 14%;
    left:10%;
    width:22.95%;
    height: 18%;
    opacity:1;
    top:38.5%;
    display:none;
    position:fixed;
    background-color:rgb(184, 174, 174);
    overflow:auto
}
/* Styling for the p tag  - descendant selector under second class */
.second > p{
    padding-left: 3%;
    color:rgb(73, 73, 71);
    text-align: center;
}
/* Styling for the image - descendant selector under second class */
.second > img {
    position:absolute;
    right:-1px;
    top:-1px;
    cursor:pointer
}
.but{
    padding-left: 3%;
}

/* Applies to all button of this shape */
.button {
    background-color:rgb(73, 73, 71) ;
    border: none;
    color: white;
    font-family:'Lucida Sans';
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    font-size: 12px;
    cursor: pointer;
    border-radius: 20px;
}

/* Styling elements for the table */
table {
    width: 100%;
    font: 17px Calibri;
    border-collapse: collapse;
    border: solid 1px #DDD;
}
td {
    border: solid 1px #DDD;
    padding: 2px 3px;
    text-align: center;
    height: 2%;
}

/* Class selectors for the table when a row/column is highlighted */
.highlight {
    background-color: rgb(184, 174, 174); 
}
